<nav class="navbar navbar-expand-lg navbar-dark mb-4 sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">E-Pustak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/?category=sci-fi">Sci-Fi</a></li>
            <li><a class="dropdown-item" href="/?category=manga">Manga</a></li>
            <li><a class="dropdown-item" href="/?category=comic">Comic</a></li>
            <li><a class="dropdown-item" href="/?category=cartoon">Cartoon</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/">All Books</a></li>
          </ul>
        </li>
        <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
          <% if (typeof user !== 'undefined' && user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">Admin Orders</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">My Orders</a>
            </li>
          <% } %>
          <li class="nav-item">
             <a class="nav-link" href="/account/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/account/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/sign-up">Sign Up</a>
          </li>
        <% } %>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>